#banner-index {
  height: 100vh;
  padding: 20rem 0.8rem 10rem;
  background: {
    image: url(https://i.postimg.cc/CxQvqMtX/bg-lead.jpg);
    repeat: no-repeat;
    size: cover;
  }
  .banner-left {
    color: var(--white) !important;
    .banner-rate {
      display: flex;
      .banner-rate__left {
        font-size: 1.8rem;
        width: 50%;
        .banner-rate__left-star {
          display: flex;
          align-items: center;
          i {
            color: yellow;
            margin-right: 0.4rem;
          }
          p {
            font-size: 1.4rem;
            margin: {
              left: 0.8rem;
              bottom: 0;
            }
          }
        }
        .banner-rate__left-count p {
          font-size: 1.2rem;
          line-height: 1.6rem;
          opacity: 0.5;
        }
      }
      .banner-rate__author {
        display: flex;
        img {
          width: 4.2rem;
          height: 4.2rem;
        }
        .banner-rate__author-text {
          padding-left: 1.2rem;
          text-transform: uppercase;
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            line-height: 1.8rem;
            font: {
              size: 1.6rem;
              weight: bold;
            }
            margin: 0;
            &:nth-child(2) {
              font-size: 1rem;
            }
          }
        }
      }
    }
    .banner-content {
      margin: 2.4rem 0;
      .banner-reason-title {
        line-height: 3.6rem;
        font: {
          size: 3.2rem;
          weight: bold;
        }
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        padding-bottom: 2.4rem;
        span {
          margin: 1.8rem;
          color: var(--primary);
        }
      }
      .banner-content__text {
        font-size: 1.8rem;
      }
    }
    .banner-btn {
      button {
        overflow: hidden;
        padding: 2.5rem 3rem;
        border-radius: 0.5rem;
        text-transform: uppercase;
        color: var(--white);
        font-size: 1.4rem;
        border: 1px solid var(--border-color);
        margin-top: 4rem;
        letter-spacing: 0.2rem;
        position: relative;
        i {
          margin-right: 0.4rem;
          position: relative;
        }
        span {
          position: relative;
        }
      }
      .banner-btn__link button {
        position: relative;
        background-color: #5400ff;
        border-color: #5400ff;
        min-width: 20.4rem;
      }
      & > button {
        background-color: transparent;
        margin-left: 1.6rem;
      }
    }
    .banner-video {
      opacity: 0;
      visibility: hidden;
      &.active{
        opacity: 1;
        visibility: visible;
      }
      .banner-video-overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--black);
        z-index: 99999999;
        .banner-video__close{
          position: absolute;
          right: 3%;
          top: 3%;
          font-size: 3rem;
          color: var(--white);
          &::before{
            display: none;
          }
        }
      }
      .ratio {
        position: fixed;
        width: 60%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: 9999999999;
      }
    }
  }
  .banner-right {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .banner-imgs {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .banner-img {
        position: absolute;
        height: 85%;
        width: 55%;
        left: 50%;
        transform: translateX(-50%);
        clip-path: polygon(45% 0, 100% 0%, 55% 100%, 0% 100%);
        transition: 0.5s;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: #e40000;
          mix-blend-mode: multiply;
          z-index: 99999;
        }
        &.img--left {
          transform: translateX(-103%) scale(0.7);
          opacity: 0.4;
          &::after {
            background-color: #5e83fa;
          }
        }
        &.img--right {
          transform: translateX(3%) scale(0.7);
          opacity: 0.4;
          &::after {
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}
