#details-page {
  #header {
    background-color: var(--black);
  }
  #details-main {
    padding-top: 12rem;
    margin: 0 0.8rem;
    .loading {
      position: relative;
      height: 100vh;
      background: rgba(0, 0, 0, 0.1);
      .loading-wrapper {
        padding-top: 12rem;
      }
    }
    .left-description {
      margin-top: 5rem;
      h1 {
        font-size: 2.2rem;
        margin-bottom: 3rem;
      }
      .left-description__text {
        text-align: justify;
        .text-more {
          display: inline-block;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 2.6rem;
          transition: 0.5s;
          &.active {
            height: 28.4rem;
            white-space: unset;
            text-overflow: unset;
          }
        }
        .sup-text-more {
          @extend .text-more;
          &.active {
            @extend .text-more.active;
          }
        }
      }
      .left-description__btn {
        .show {
          margin-top: 1.6rem;
          padding: 0.5rem 1rem;
          background: transparent;
          border: 0.1rem dashed var(--border-color);
          font-size: 1.6rem;
          letter-spacing: 0.4rem;
          color: var(--primary);
          &::before {
            display: none;
          }
          &:hover {
            background: var(--black);
            color: var(--white);
          }
          &.show-less {
            display: none;
          }
          &.unactive {
            display: none;
          }
          &.active {
            display: block;
          }
        }
      }
    }
    .product {
      margin: 5rem 0 7rem;
      .left-wraper {
        padding-right: 2.4rem;
        img {
          border-radius: 0.8rem;
        }
        .main-imgs {
          display: flex;
          overflow: hidden;
          .main-img {
            max-height: 50rem;
            img {
              height: 100%;
              width: 100%;
            }
          }
        }
        .product-tabs {
          display: flex;
          justify-content: space-between;
          margin-top: 1.6rem;
          li {
            width: calc(100% / 5 - 1.6rem);
            max-height: 9rem;
            opacity: 0.5;
            list-style: none;
            &.active {
              opacity: 1;
            }
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .right-wraper {
        padding-left: 3rem;
        .sup-description {
          display: none;
        }
        .product-name {
          h3 {
            font-size: 3rem;
          }
        }
        .product-features {
          margin-top: 1rem;
          padding-bottom: 1rem;
          display: flex;
          border-bottom: 0.02rem solid var(--border-color);
          .features {
            font-size: 1.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--text-color);
          }
        }
        .product-prices {
          position: relative;
          display: flex;
          align-items: baseline;
          margin-top: 2.4rem;
          .product-price {
            font-size: 3.5rem;
            color: var(--primary);
            font-weight: bold;
          }
          .product-old-price {
            font-size: 1.8rem;
            text-decoration: line-through;
            margin-left: 1rem;
          }
        }
        .right-describe {
          display: flex;
          padding: 2.4rem 4rem;
          width: 100%;
          background: var(--background);
          margin-top: 2.4rem;
          border-radius: 1rem;
          .describe-list {
            width: 100%;
            .describe-list__item {
              display: flex;
              font-size: 1.6rem;
              padding-bottom: 1.2rem;
              p {
                width: 50%;
                font-weight: bold;
              }
              span {
                width: 50%;
              }
            }
          }
        }
        .right-contact {
          .right-contact__btn {
            width: 100%;
            margin-top: 1.6rem;
            padding: 1.6rem 0;
            font-size: 1.6rem;
            border: 0.1rem solid transparent;
            border-radius: 1rem;
            color: var(--white);
            letter-spacing: 0.2rem;
            cursor: pointer;
            &:hover {
              opacity: 0.9;
            }
            &::before {
              display: none;
            }
            i {
              margin: 0 1rem;
            }
            &:first-child {
              border: 0.1rem solid var(--primary);
              background-color: transparent;
              color: var(--black);
              &:hover {
                background-color: #fff0eb;
                color: var(--primary);
              }
            }
            &:nth-child(2) {
              background-color: var(--fb-background);
            }
            &:last-child {
              background-color: var(--primary);
            }
          }
        }
      }
    }
  }
}
