* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary: #ff4605;
  --text-color:#333;
  --white: white;
  --black:#000;
  --border-color: #dbdbdb;
  --background: #eff2fa;
  --fb-background: #44439b;
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body{
  font-family: 'Noto Sans Mono', monospace !important;
}

.row{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

a{
  display: inline-block;
  text-decoration: none !important;
}

ul{
  list-style: none;
  padding-left: 0 !important;
}

p{
  font-size: 1.6rem;
  margin-bottom: unset !important;
  line-height: 2.6rem;
}

button{
    border: none;
    background: var(--black);
    padding: 1.6rem 2rem;
    border-radius: 1rem !important;
    letter-spacing: 0.4rem;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    background-color: red;
    transform-origin: -10% 100%;
    transform: rotate(-90deg) translateX(-25%);
    transition: all .25s;
  }
  &:hover:before{
    transform: rotate(0) translateX(-25%)
  }
}

.dot-red{
  padding: 0 1rem;
  color: var(--primary);
  font-size: .6rem;
  margin-bottom: .8rem;
}

.title{
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-weight: 600;
  &::before{
    position: absolute;
    content: "";
    width: 2rem;
    height: .2rem;
    background: #db2d2e;
    left: 0;
    bottom: 0;
  }
}


/* Favourite CSS */
.product-favourite{
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  align-items: baseline;
  cursor: pointer;
}

.product-favourite:hover{
  color: var(--primary);
}

.product-favourite i{
  margin-left: .6rem;
  font-size: 3rem;
}

.favourite-add{
  display: flex;
  justify-content: center;
  align-items: center;
  &.unactive{
    display: none;
  }
}

.favourite-added{
  color: var(--primary);
  cursor: default;
  &.unactive{
    display: none;
  }
}

/* End Favourite CSS */



